{
  "openapi": "3.0.3",
  "info": {
    "title": "Login Module API",
    "version": "3.1.0"
  },
  "servers": [
    {
      "url": "https://placeholder.adobeioruntime.net/api/v1/web/login-module"
    }
  ],
  "paths": {
    "/generate-otp": {
      "post": {
        "operationId": "generateOtpAction",
        "summary": "Generate OTP for login or auto-register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GenerateOtpRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenerateOtpResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Module disabled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/validate-otp": {
      "post": {
        "operationId": "validateOtpAction",
        "summary": "Validate OTP and complete login or registration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ValidateOtpRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ValidateOtpResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid OTP",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Module disabled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/customer": {
      "post": {
        "operationId": "customerAction",
        "summary": "Customer registration (generate OTP) or update details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CustomerRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Module disabled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        }
      },
      "GenerateOtpRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string" },
          "mobile": { "type": "string" },
          "mobile_number": { "type": "string" },
          "firstname": { "type": "string" },
          "firstName": { "type": "string" },
          "lastname": { "type": "string" },
          "lastName": { "type": "string" }
        }
      },
      "GenerateOtpResponse": {
        "type": "object",
        "properties": {
          "otpReferenceId": { "type": "string" },
          "otpValue": { "type": "string" }
        }
      },
      "ValidateOtpRequest": {
        "type": "object",
        "properties": {
          "otpReferenceId": { "type": "string" },
          "otpValue": { "type": "string" }
        }
      },
      "ValidateOtpResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "customer_token": { "type": "string" },
          "message": { "type": "string" },
          "customer": { "$ref": "#/components/schemas/Customer" }
        }
      },
      "CustomerRequest": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "enum": ["register", "updateCustomerDetails"]
          },
          "email": { "type": "string" },
          "mobile": { "type": "string" },
          "mobile_number": { "type": "string" },
          "firstname": { "type": "string" },
          "firstName": { "type": "string" },
          "lastname": { "type": "string" },
          "lastName": { "type": "string" },
          "customer_token": { "type": "string" },
          "customer_id": { "type": "string" },
          "new_email": { "type": "string" }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "customer_token": { "type": "string" },
          "message": { "type": "string" },
          "otpReferenceId": { "type": "string" },
          "otpValue": { "type": "string" },
          "error": { "type": "string" },
          "customer": { "$ref": "#/components/schemas/Customer" }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "customer_id": {
            "oneOf": [
              { "type": "integer" },
              { "type": "string" }
            ]
          },
          "id": { "type": "string" },
          "firstname": { "type": "string" },
          "lastname": { "type": "string" },
          "email": { "type": "string" },
          "mobile_number": { "type": "string" },
          "login_type": { "type": "string" },
          "status": { "type": "string" }
        }
      }
    }
  }
}