{
  "openapi": "3.0.3",
  "info": {
    "title": "Login Module API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://placeholder.adobeioruntime.net/api/v1/web/login-module"
    }
  ],
  "paths": {
    "/otp": {
      "post": {
        "operationId": "otpAction",
        "summary": "Generate or validate OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OtpRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OtpResponse" }
              }
            }
          }
        }
      }
    },
    "/customer": {
      "post": {
        "operationId": "customerAction",
        "summary": "Customer register, login, or update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CustomerRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OtpRequest": {
        "type": "object",
        "properties": {
          "loginType": { "type": "string" },
          "email": { "type": "string" },
          "mobile": { "type": "string" },
          "otpReferenceId": { "type": "string" },
          "otpValue": { "type": "string" },
          "firstname": { "type": "string" },
          "lastname": { "type": "string" },
          "register": { "type": "boolean" },
          "customer_id": { "type": "string" }
        }
      },
      "OtpResponse": {
        "type": "object",
        "properties": {
          "otpReferenceId": { "type": "string" },
          "otpValue": { "type": "string" },
          "success": { "type": "boolean" },
          "customer_token": { "type": "string" },
          "message": { "type": "string" }
        }
      },
      "CustomerRequest": {
        "type": "object",
        "properties": {
          "operation": { "type": "string" },
          "loginType": { "type": "string" },
          "email": { "type": "string" },
          "mobile": { "type": "string" },
          "mobile_number": { "type": "string" },
          "password": { "type": "string" },
          "otpReferenceId": { "type": "string" },
          "otpValue": { "type": "string" },
          "firstname": { "type": "string" },
          "lastname": { "type": "string" },
          "customer_token": { "type": "string" },
          "customer_id": { "type": "string" },
          "new_email": { "type": "string" }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "customer_token": { "type": "string" },
          "customerToken": { "type": "string" },
          "message": { "type": "string" },
          "otpReferenceId": { "type": "string" },
          "otpValue": { "type": "string" },
          "customer": { "$ref": "#/components/schemas/Customer" }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "customer_id": { "type": "string" },
          "id": { "type": "string" },
          "firstname": { "type": "string" },
          "lastname": { "type": "string" },
          "email": { "type": "string" },
          "mobile_number": { "type": "string" },
          "login_type": { "type": "string" },
          "status": { "type": "string" }
        }
      }
    }
  }
}